# IDE
*.sublime-project
*.sublime-workspace
.vscode

# test
tests/demo.pb
tests/demo2.pb
.ipynb_checkpoints
.coverage
.pytest_cache

# temp
__pycache__
.cache
*.egg-info

# build
*.pyc
*.tar.gz
*.whl
build/
dist/
